@import "tailwindcss";

@theme {
  /* CORES: Paleta Sóbria (Preto, Cinza Chumbo e Ouro Nobre) */
  --color-jus-black: #0a0a0a;       /* Fundo principal (Preto fosco) */
  --color-jus-gray-dark: #171717;   /* Containers (Cinza muito escuro) */
  --color-jus-gray-light: #262626;  /* Elementos secundários */
  
  --color-jus-gold: #c5a059;        /* Dourado metálico/envelhecido (Elegante) */
  --color-jus-gold-dim: #6b5730;    /* Dourado escuro para bordas discretas */
  
  /* TIPOGRAFIA: Clássica */
  --font-legal: "Times New Roman", Garamond, "Palatino Linotype", serif;
  --font-ui: "Helvetica Neue", Arial, sans-serif; /* Apenas para etiquetas técnicas */
}

/* Configuração Global */
body {
  background-color: var(--color-jus-black);
  font-family: var(--font-legal);
  color: #d4d4d4;
  -webkit-font-smoothing: antialiased;
}