@import "tailwindcss";

@theme {
  --color-itau-orange: #EC7000;
  --color-itau-blue: #003399;
  --color-itau-dark-blue: #051933;
  --color-itau-gray: #F2F2F2;
  --color-itau-text: #1F1F1F;
  --font-itau: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  /* Fundo agora é predominantemente laranja sutil ou cinza muito quente */
  background-color: #fdf2e9; 
  font-family: var(--font-itau);
  color: var(--color-itau-text);
  -webkit-font-smoothing: antialiased;
}