@import "tailwindcss";

@theme {
  /* Recriando as cores no padrão Tailwind v4 */
  --color-itau-orange: #EC7000;
  --color-itau-blue: #004990;
  
  --font-corporate: "Inter", "Helvetica Neue", Arial, sans-serif;
}

/* Configuração Global - Light Mode Itaú */
body {
  background-color: #f9fafb;
  font-family: var(--font-corporate);
  color: var(--color-itau-blue);
  -webkit-font-smoothing: antialiased;
}